/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    aspect-ratio: .577;
    color: #ffffff;
    display: grid;
    background:
      linear-gradient(currentColor 0 0) top   /100% 1px,
      linear-gradient(currentColor 0 0) bottom/100% 1px,
      linear-gradient(to bottom right, #ffffff calc(50% - 2px),currentColor calc(50% - 1px),#ffffff 50%) top/100% calc(100% + 2px),
      linear-gradient(to bottom left , #ffffff calc(50% - 2px),currentColor calc(50% - 1px),#ffffff 50%) top/100% calc(100% + 2px); 
    background-repeat: no-repeat;
    animation: l17 4s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    border:inherit;
    animation: inherit;
  }
  .loader::after {
    animation-duration: 2s;
  }
  @keyframes l17 {
    100% {transform: rotate(1turn)}
  }